.before  {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  background-color: yellow;
}
.after  {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  background-color: blue;
  transform: rotate(10deg);
  -webkit-transform; rotate(10deg);
}

.positive  {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  background-color: yellow;
  transform: rotate(10deg);
  -webkit-transform; rotate(10deg);
}
.negative  {
  width: 200px;
  height: 150px;
  margin-top: 30px;
  background-color: blue;
  transform: rotate(-10deg);
  -webkit-transform; rotate(10deg);
}
