.empity-div {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px;
  padding: 10px;
  border: 2px solid gray;
}
.green-div  {
  padding: 50px;
  position: relative;
  background-color: green;
  border: 2px solid gray;
  transform: rotate(15deg);
  transform-origin: 25% 75%;
  -webkit-transform: rotate(15deg)
  -webkit-transforms-origin:  25% 75%;
}
